.dropzone .dz-error-message {
	/* Modifica la posición o tamaño del popover para evitar que cubra el botón de eliminar */
	/* Por ejemplo, puedes ajustar la posición hacia arriba */
	bottom: -80px !important;
	top: unset !important;
	text-align: center !important;
}
.dropzone .dz-preview {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex-direction: column;
	max-width: 500px;
	max-height: 500px;
}

.dropzone .dz-preview .dz-image {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.dropzone .dz-preview .dz-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
